In [1]:
import pandas as pd
import pyreadstat

In [2]:
df_sch, meta_sch = pyreadstat.read_sav('data/PISA2022_SCH_QQQ.SAV')

# from langchain.chains.query_constructor.base import AttributeInfo

def meta2attrinfo(spss_df, spss_meta):
    metadata = []
    for col in spss_df.columns:        
        if col in spss_meta.variable_value_labels:                
            values = sps0s_meta.variable_value_labels[col].values()
            values_text = ". One of ['" + ','.join(values) + "']"
        else:
            values_text = ''
        metadata.append(
            AttributeInfo(
                name=col,  
                description=spss_meta.column_names_to_labels[col] + values_text,
                type=spss_meta.readstat_variable_types[col]))
    return metadata

attrinfo_sch=meta2attrinfo(df_sch, meta_sch)
#attrinfo_stu=meta2attrinfo(df_stu, meta_stu)

In [4]:
import os

os.environ["OPENAI_API_KEY"] = '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'

In [24]:
from langchain_chroma import Chroma
from langchain_core.documents import Document
from langchain_openai import OpenAIEmbeddings

def meta2docs(spss_meta):
    docs = []
    for col in  spss_meta.column_names:
        if col in spss_meta.variable_value_labels:
            docs.append(
                Document(
                    page_content=spss_meta.column_names_to_labels[col],
                    metadata={"year": 2022, "original_col_name": col},
                ),
            )
    return docs
    
cols = meta2docs(df_sch, meta_sch)

cols_vectorstore = Chroma.from_documents(cols, OpenAIEmbeddings())

In [25]:
cols_retriever = cols_vectorstore.as_retriever()

In [26]:
from langchain_openai import ChatOpenAI

llm = ChatOpenAI(temperature=0)

In [27]:
question = 'What is average teacher-student ration in mid size schools?'
prompt1 = f"Please list the typical database column fields, that needed to answer the following question: {question}"
relevant_col_list_msg = llm.invoke(prompt1)
relevant_col_list = relevant_col_list_msg.content
relevant_col_list

'1. School ID\n2. School Name\n3. Number of Teachers\n4. Number of Students\n5. School Size\n6. Teacher-Student Ratio'

In [9]:
rel_col_docs = cols_retriever.invoke(relevant_col_list)
rel_col_docs

[Document(page_content='Student-teacher ratio', metadata={'original_col_name': 'STRATIO', 'year': 2022}),
 Document(page_content='School size (Sum)', metadata={'original_col_name': 'SCHSIZE', 'year': 2022}),
 Document(page_content='Student-mathematics teacher ratio', metadata={'original_col_name': 'SMRATIO', 'year': 2022}),
 Document(page_content='Total number of all teachers at school (Sum)', metadata={'original_col_name': 'TOTAT', 'year': 2022})]

In [55]:
def docs2structure(docs, meta):
    t = '[{\n'
    for doc in rel_col_docs:
        col_name = doc.metadata['original_col_name']
        if meta.variable_measure[col_name] != 'unknown':
            scale = meta.variable_measure[col_name]            
            if scale == 'scale':
                scale = 'interval'                
            measure = ' A ' + meta.readstat_variable_types[col_name] + ' variable with ' +scale  + ' scale measure.'
        else:
            measure = ''
        t =  t + '"' + col_name + " # " + doc.page_content +'.' + measure +'\n'
    t = t + '}]'
    return t
print(docs2structure(rel_col_docs, meta_sch))

[{
"STRATIO # Student-teacher ratio. A double variable with ordinal scale measure.
"SCHSIZE # School size (Sum). A double variable with ordinal scale measure.
"SMRATIO # Student-mathematics teacher ratio. A double variable with ordinal scale measure.
"TOTAT # Total number of all teachers at school (Sum). A double variable with ordinal scale measure.
}]

In [37]:
rel_cols = [c.metadata['original_col_name'] for c in rel_col_docs]
filtered_df = df_sch[rel_cols]
filtered_df

       STRATIO  SCHSIZE  SMRATIO  TOTAT
0      16.9351    652.0    100.0   38.5
1      11.4375    183.0     61.0   16.0
2       7.1176    121.0     60.5   17.0
3      16.9134   1074.0    100.0   63.5
4      11.7407    317.0    100.0   27.0
...        ...      ...      ...    ...
21624   7.6190    160.0     80.0   21.0
21625   3.7674     81.0     32.4   21.5
21626  12.9855    896.0    100.0   69.0
21627  14.9592    733.0    100.0   49.0
21628  18.7568   1041.0    100.0   55.5

[21629 rows x 4 columns]

In [41]:
question = "What is average teacher-student ration in mid size schools?"
data_structure = docs2structure(rel_col_docs, meta_sch)
prompt2 = f"Given the following formatted list of data {data_structure}, can you generate a python code, which can answer the following question? the code must return an exact number.  \nQuestion: {question}"
res = llm.invoke(prompt2)

In [42]:
print(res.content)

To calculate the average teacher-student ratio in mid-size schools, you would need to use the data provided for "STRATIO" (Student-teacher ratio) and "SCHSIZE" (School size) variables.

Here is a Python code snippet that calculates the average teacher-student ratio in mid-size schools:

```python
# Data for STRATIO and SCHSIZE variables
data = [
    {"STRATIO": 10, "SCHSIZE": "Mid"},
    {"STRATIO": 15, "SCHSIZE": "Mid"},
    {"STRATIO": 12, "SCHSIZE": "Mid"},
    {"STRATIO": 8, "SCHSIZE": "Mid"},
    {"STRATIO": 20, "SCHSIZE": "Mid"}
]

# Filter data for mid-size schools
mid_size_data = [d["STRATIO"] for d in data if d["SCHSIZE"] == "Mid"]

# Calculate average teacher-student ratio in mid-size schools
average_ratio = sum(mid_size_data) / len(mid_size_data)

print("Average teacher-student ratio in mid-size schools:", average_ratio)
```

You can replace the sample data provided in the code with your actual data to get the exact average teacher-student ratio in mid-size schools.

In [ ]:
### EnnÃ©l a promptnÃ¡l elment a szÃ¡molÃ¡s nagyon, ha megadtam azt, hogy "If you need additional clarification please ask a question."

In [13]:
rel_cols = [c.metadata['original_col_name'] for c in rel_col_docs]
filtered_df = df_sch[rel_cols]

In [14]:
mid_size_schools = [school for school in data if school["SCHSIZE"] >= 400 and school["SCHSIZE"] <= 500]

total_teacher_student_ratio = sum([school["TOTAT"] / school["SCHSIZE"] for school in mid_size_schools])
average_teacher_student_ratio = total_teacher_student_ratio / len(mid_size_schools)

print(average_teacher_student_ratio)

nan

In [15]:
total_teacher_student_ratio

nan

In [16]:
def docs2structure(docs):
    t = '[\n'
    for doc in rel_col_docs:
        t = t + '"' + doc.metadata['original_col_name'] + '", #' + doc.page_content + '\n'
    t = t + ']'
    return t
print(docs2structure(rel_col_docs))

[
"STRATIO", #Student-teacher ratio
"SCHSIZE", #School size (Sum)
"SMRATIO", #Student-mathematics teacher ratio
"TOTAT", #Total number of all teachers at school (Sum)
]

In [57]:
question = "What is average teacher-student ration in mid size schools?"
data_structure = docs2structure(rel_col_docs)
prompt2 = f"Given a dataframe with the following columns {data_structure}, and with name 'data_df', can you generate a python code, without sample data, which can answer the following question? the code must return an exact number. \nQuestion: {question}"
res = llm.invoke(prompt2)

In [58]:
print(res.content)

You can use the following Python code to calculate the average teacher-student ratio in mid-size schools:

```python
# Filter the dataframe to include only mid-size schools
mid_size_schools = data_df[data_df['SCHSIZE'] == 'mid']

# Calculate the average teacher-student ratio in mid-size schools
average_teacher_student_ratio = mid_size_schools['TOTAT'].sum() / mid_size_schools['SCHSIZE'].sum()

print(average_teacher_student_ratio)
```

This code first filters the dataframe to include only mid-size schools based on the 'SCHSIZE' column. Then, it calculates the average teacher-student ratio by summing the total number of teachers ('TOTAT') and dividing it by the school size ('SCHSIZE'). Finally, it prints the average teacher-student ratio for mid-size schools.

In [56]:
df = filtered_df
# Filter mid-size schools
mid_size_schools = df[(df["SCHSIZE"] >= 250) & (df["SCHSIZE"] <= 350)]

# Calculate average teacher-student ratio in mid-size schools
average_teacher_student_ratio = mid_size_schools["TOTAT"].sum() / mid_size_schools["SCHSIZE"].sum()

print(average_teacher_student_ratio)

0.09580842682373887

In [60]:
data_df = filtered_df

# Filter the dataframe to include only mid-size schools
mid_size_schools = data_df[data_df['SCHSIZE'] == 'mid']

# Calculate the average teacher-student ratio in mid-size schools
average_teacher_student_ratio = mid_size_schools['TOTAT'].sum() / mid_size_schools['SCHSIZE'].sum()

print(average_teacher_student_ratio)

nan

/tmp/ipykernel_450903/725294485.py:7: RuntimeWarning: invalid value encountered in scalar divide
  average_teacher_student_ratio = mid_size_schools['TOTAT'].sum() / mid_size_schools['SCHSIZE'].sum()

In [61]:
mid_size_schools

Empty DataFrame
Columns: [STRATIO, SCHSIZE, SMRATIO, TOTAT]
Index: []

In [57]:
question = "What is average teacher-student ration in middle size schools?"
data_structure = docs2structure(rel_col_docs, meta_sch)
prompt2 = f"Given a dataframe with the following columns {data_structure}, and with name 'data_df', can you generate a python code, without sample data, which can answer the following question? the code must return an exact number. \nQuestion: {question}"
res = llm.invoke(prompt2)

In [58]:
print(res.content)

avg_teacher_student_ratio = data_df[data_df["SCHSIZE"] == "middle"]["STRATIO"].mean()

In [59]:
print(data_structure)

[{
"STRATIO # Student-teacher ratio. A double variable with ordinal scale measure.
"SCHSIZE # School size (Sum). A double variable with ordinal scale measure.
"SMRATIO # Student-mathematics teacher ratio. A double variable with ordinal scale measure.
"TOTAT # Total number of all teachers at school (Sum). A double variable with ordinal scale measure.
}]

In [66]:
def docs2explanation(docs, meta):
    t = ''
    for idx, doc in enumerate(rel_col_docs):
        col_name = doc.metadata['original_col_name']
        if meta.variable_measure[col_name] != 'unknown':
            scale = meta.variable_measure[col_name]            
            if scale == 'scale':
                scale = 'interval'                
            measure = ' A ' + meta.readstat_variable_types[col_name] + ' variable with ' +scale  + ' scale measure.'
        else:
            measure = ''
        t =  t + str(idx+1)+ '. ' + col_name + " : " + doc.page_content +'.' + measure +'\n'
    t = t + ''
    return t
print(docs2explanation(rel_col_docs, meta_sch))

1. STRATIO : Student-teacher ratio. A double variable with ordinal scale measure.
2. SCHSIZE : School size (Sum). A double variable with ordinal scale measure.
3. SMRATIO : Student-mathematics teacher ratio. A double variable with ordinal scale measure.
4. TOTAT : Total number of all teachers at school (Sum). A double variable with ordinal scale measure.

In [70]:
[i.metadata['original_col_name'] for i in rel_col_docs]

['STRATIO', 'SCHSIZE', 'SMRATIO', 'TOTAT']

In [71]:
question = "What is average teacher-student ration in middle size schools?"
data_explanation = docs2explanation(rel_col_docs, meta_sch)
prompt2 = f"Given a dataframe with the following columns {data_explanation}, column meaning: {data_explanation}, can you generate a python code, without sample data, which can answer the following question? the code must return an exact number. \nQuestion: {question}"
res = llm.invoke(prompt2)

In [72]:
print(res.content)

import pandas as pd

# Assuming df is the dataframe containing the columns STRATIO, SCHSIZE, SMRATIO, and TOTAT

# Filter the dataframe for middle size schools
middle_size_schools = df[df['SCHSIZE'] == 'middle']

# Calculate the average teacher-student ratio in middle size schools
average_teacher_student_ratio = middle_size_schools['STRATIO'].mean()

print("Average teacher-student ratio in middle size schools: ", average_teacher_student_ratio)